@media screen and (max-width: 320px) {
	body{
		width: 320px !important;
		height: 658px !important;
	}
	
	section{
		clear: both;
	}
	
	.carousel-inner{
		height: 17.5em;	
	}
	
	#carousel_uno, #carousel_dos, #carousel_tres{
		height: 20em !important;
	}
	
	#container{
		width: 320px !important;
	}
	
	#container #login, #container #signup{
		width: 90% !important;
	}
	
	#container #login p, #container #signup p{
		font-size: 100% !important;
	}
	
	#copyright{
		width: 320px !important;
		clear:both;
	}
	
}

@media screen and (max-height: 320px) {

}