@media screen and (max-width: 320px) {
	body{
		width: 320px !important;
		height: 658px !important;
	}
	
	section{
		clear: both;
	}
	
	.card{
		width: 100% !important;
	}
	
	#perfilUsuario{
		width: 100% !important;
		float: unset !important;
	}
	
	.card-body{
		padding: 0 !important;
	}
	#grafico{
		margin-top: 2em;
	}
	
	#graphic_profile_chart{
		display: unset !important;
		margin: 0 !important;
	}
	
	#donut svg, #donut div{
		width: 320px !important;
		height: 400px !important;
	}
	
	#copyright{
		width: 320px !important;
		clear:both;
	}
	
}

@media screen and (max-height: 320px) {
	
}
