<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script type="text/javascript" th:src="@{/js/asignaturas.js}"></script>
	<link rel="stylesheet" th:href="@{/css/Asignaturas.css}">
	<title>Asignaturas</title>
</head>

<body>
	<!--HEADER-->
	<nav th:replace="html/navbar"></nav>
	<!--ASIGNATURAS-->

	<div id="asig">

		<a id="color" th:each="asignatura:${asignaturas}"
			th:href="@{/pregunta/{id_asignatura}(id_asignatura=${asignatura.id_asignatura})}">
			<div class="boton_asignatura" onclick="color()">
				<p th:text="${asignatura.nombre_asignatura}"></p>
			</div>
		</a>



	</div>
	<!--   <div id="div_2" class="boton_asignatura">
        <p>LENGUAJE DE MARCAS</p>
    </div>
    <div  id="div_3" class="boton_asignatura">
        <p>BASE DE DATOS</p>
    </div>
    <div id="div_4" class="boton_asignatura">
        <p>ENTORNOS DE DESARROLLO</p>
    </div>
    <div id="div_5" class="boton_asignatura">
        <p>SISTEMAS INFORMATICOS</p>
    </div>
    <div id="div_6" class="boton_asignatura">
        <p >FORMACION Y ORIENTACION LABORAL</p>
    </div> -->



	<!--FOOTER-->
	<footer>
		<div id="copyright">
			<div id="redes"><img th:src="@{/img/twitter.png}" alt="Imagen de twitter">
				<img th:src="@{/img/facebook.png}" alt="Imagen de facebook"></div>
			<hr />
			Aviso legal | Política de privacidad | Accesibilidad | Usabilidad<br />
			&#169; Copyright 2022 | By Salma Idrissi & Jessica Piano
		</div>

	</footer>

	</div>
</body>

</html>