<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Trivial</title>

	<!-- RANKING & PROFILE CHARTS -->
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

	<!--PERFIL JS-->
	<script th:src="@{/js/perfil.js}"></script>
</head>

<body>
	<!--HEADER-->
	<nav th:replace="html/navbar"></nav>

	<!-- PERFIL USUARIO -->
	<div id="perfilUsuario">
		<div class="card text-center">
			<div class="card-header">
				<!-- NOMBRE Y APELLIDOS DEL USUARIO-->
				Featured
			</div>
			<div class="card-body">
				<!-- FOTO USUARIO -->
				<!-- Nº USUARIO-->
				<!-- PARTIDAS JUGADAS-->
				<!--CURSO-->
				<!--BOTÓN PARA MOSTRAR LOS RESULTADOS-->
				<h5 class="card-title">Special title treatment</h5>
				<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				<a href="#" class="btn btn-primary">Resultados</a>
			</div>
		</div>
	</div>
	<!--CHART-->
	<div id="graphic_profile_chart" style="width:400; height:300"></div>
	<table id="data" class="display table">
		<tbody id="data_profile_table">
			<tr>
				<th scope="col">Asignatura</th>
				<th scope="col">Puntuación</th>
			</tr>
		</tbody>
	</table>

	<!--FOOTER-->
	<footer>
		&#169; Copyright 2022 | By Salma Idrissi & Jessica Piano
	</footer>

</body>

</html>