<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Trivial</title>

	<!-- RANKING & PROFILE CHARTS -->
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

	<!--RANKING JS-->
	<script type="text/javascript" th:src="@{/js/ranking.js}"></script>
</head>

<body>
	<!--HEADER-->
	<nav th:replace="html/navbar"></nav>

	<!--CHART-->
	<div id="graphic_ranking_chart" style="width:400; height:300"></div>
	<table id="data" class="display table">
		<tbody id="data_ranking_table">
			<tr>
				<th scope="col">Posición</th>
				<th scope="col">Usuario</th>
				<th scope="col">Puntuación</th>
			</tr>
		</tbody>
	</table>

	<!--FOOTER-->
	<footer>
		&#169; Copyright 2022 | By Salma Idrissi & Jessica Piano
	</footer>

</body>

</html>