///////////////////////////////////////////////////////////////
//////////////////////IMPORT SCSS/////////////////////////
@import 'variables.scss';
@import 'index.scss';
@import 'ranking.scss';
@import 'perfil.scss';
@import 'navbar.scss';

///////////////////////////////////////////////////////////
//////////////////////IMPORT FONTS/////////////////////////
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Comfortaa:wght@600&family=Poppins&display=swap');

///////////////////////////////////////////////////////////////
////////////////////////////BODY/////////////////////////////
body{
	font-family: 'Poppins', 'Amatic SC', 'Comfortaa' !important;
	width: 1920px;
	height: 1080px;
	font-size: 150% !important;
	margin: auto !important;
}


///////////////////////////////////////////////////////////////
////////////////////////////NAVBAR/////////////////////////////
.navbar{
	background-color: $principal-background !important;
	width: 1920px;
	height: 10%;
	margin-bottom: 0 !important;
	float: right;
	div{
		ul{
			li{
				.nav-link{
					color: $letter !important;
				}
			}
		}
		.navbar-nav:nth-child(2){
			float: right;
		}
	}
}


.navbar-brand, #idiomas{
	padding: 0 !important;
	display: flex;
	align-items: center;
	img{
		height: 2em;
		width: 2em;
	}
}

ol, ul{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

#perfil_img{
	width: 3em;
	height: 3em;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

///////////////////////////////////////////////////////////////
////////////////////////////FOOTER/////////////////////////////
#copyright{
	width: 1920px;
	margin: auto;
	height: 10%;
	color: white;
	padding: 0.5em;
	text-align: right;
	bottom: 0;
	background-color: $principal-background;
	#redes{		
		text-align: left;
		float: left;
		width: 20%;
		img{
			width: 2em;
			height: 2em;
		}
	}
}
