///////////////////////////////////////////////////////////////
//////////////////////IMPORT SCSS/////////////////////////
@import 'variables.scss';
@import 'index.scss';
@import 'ranking.scss';
@import 'perfil.scss';
@import 'navbar.scss';

///////////////////////////////////////////////////////////////
//////////////////////IMPORT FONTS/////////////////////////
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Comfortaa:wght@600&family=Poppins&display=swap');

///////////////////////////////////////////////////////////////
////////////////////////////BODY/////////////////////////////
body{
	font-family: 'Poppins', 'Amatic SC', 'Comfortaa' !important;
}

///////////////////////////////////////////////////////////////
////////////////////////////NAVBAR/////////////////////////////
.navbar{
	background-color: $principal-background !important;
	width: 100%;
	margin: 0 !important;
	border-radius: 0 !important;
	float: right;
	div{
		ul{
			li{
				.nav-link{
					color: $letter !important;
				}
			}
		}
		.navbar-nav:nth-child(2){
			float: right;
		}
	}
}

.navbar-brand, #idiomas{
	padding: 0 !important;
	display: flex;
	align-items: center;
	img{
		height: 2em;
		width: 2em;
	}
}

ol, ul{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

#perfil_img{
	width: 3em;
	height: 3em;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

///////////////////////////////////////////////////////////////
////////////////////////////FOOTER/////////////////////////////
#redes{
	img{
		height: 2em;
	width: 2em;
	margin: 0.5em;
	}
	
}

#copyright{
	height: 10vh;
	background-color: $principal-background;
	color: $letter;
	clear: both;
	text-align: right;
	display: flex !important;
	align-items: center;
	justify-content: center;
	padding: 0.5em;
}