///////////////////////////////////////////////////////////////
//////////////////////IMPORT VARIABLES/////////////////////////
@import 'variables.scss';

///////////////////////////////////////////////////////////////
////////////////////////////SECTION//////////////////////////////
section{
	height: 80%;
}
#carouselExampleIndicators{
	clear: both;
}
///////////////////////////////////////////////////////////////
////////////////////////////NAVBAR///////////////////////////

///////////////////////////////////////////////////////////////
////////////////////////////BUTTON/////////////////////////////
#container{
	width: 1920px;
	height: 7.5em;

	clear: both;
	#login, #signup{
		width: 50%;
		float: left;
		p{
			font-size: 150%;
			text-align: center;
		}
		button{
			display: flex;
			margin: auto;
			border: none;
			font-size: 150% !important;
		}
	}
}

///////////////////////////////////////////////////////////////
////////////////////////////MODAL//////////////////////////////
.modal-header, .modal-footer{
	background-color: $principal-background;
	opacity: 0.5;
	color: $letter;
	.close{
		color: white !important;
	}
	.submit{
		color: black !important;
	}
}

.modal-login{
	form{
		input{
			width: 100%;
		}
		label{
			width: 100%;
			text-align: center !important;
		}
	}
}

	
	

