//////////////////////////////////////////////////////////////
/////////////////////////// USER PROFILE /////////////////////
.rounded{
	width: 12em;
}

#perfilUsuario{
	width: 50%;
	float: left;
	font-size: 150%;
	.card{
	height: 80%;
	}
}

//////////////////////////////////////////////////////////////
////////////////////////////GRAPHIC CHART/////////////////////

#donut{
	height: 64vh;
}

#graphic_profile_chart{
	width: 50%;
	height: 60vh;
	margin-top: 3em;
	div{
		width: 100%;
		g:nth-child(1){
			rect{
				visibility: hidden;
			}
		}
	}
}

//////////////////////////////////////////////////////////////
//////////////////////////////TABLE///////////////////////////

#data{
	width: 75%;
	display: flex;
	margin: auto;
	margin-top: 3em;
	margin-bottom: 2em;
	#data_profile_table{
		width: 100%;
		text-align: center;;
		tr:nth-child(1){
			th:nth-child(2){
				width: 100%;
				text-align: center;
			}
		}
	}
	
}

#grafico{
	height:80vh;
	overflow: scroll;
	.card-header{
		position: fixed;
		width: 50%;
	}
}

.card-header{
	background-color: #337ab7;
		border-color: #2e6da4;
		color: white;
}
