//////////////////////////////////////////////////////////////
////////////////////////////GRAPHIC CHART/////////////////////
#graphic_profile_chart{
	width: 50%;
	float: left;
}

#graphic_profile_chart{
	div{
		g:nth-child(1){
			rect{
				visibility: hidden;
			}
		}
	}
}

//////////////////////////////////////////////////////////////
//////////////////////////////TABLE///////////////////////////

#data{
	width: 30%;
	display: flex;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 2em;
	z-index: 1;
	#data_profile_table{
		width: 100%;
		text-align: center;;
		tr:nth-child(1){
			th:nth-child(2){
				width: 100%;
				text-align: center;
			}
		}
	}
	
}