/////////////////////VARIABLES/////////////////////
/****************NAVBAR***************************/
$principal-background: black;
$letter : white;

/****************SUBJECTS***************************/
$first-subject: #FF6464;
$second-subject: #FFB264;
$third-subject: #FFFF64;
$fourth-subject: #4FA24F;
$fifth-subject: #4949FC;
$sixth-subject: #840097;

/***********OPOSITE-COLOR-SUBJECTS******************/
$modal: #64BBBB;
$oposite-second-subject: #7686C9;
$oposite-third-subject: #DE76B1;
$oposite-fourth-subject: #F3C49D;
$oposite-fifth-subject: #FFF488;
$oposite-sixth-subject: #FFE200;